.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 1.2rem; }
  .form__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem; }
  .form__group {
    margin-right: 1rem;
    width: 20%; }
  .form__label {
    display: inline-block;
    font-size: 1.1rem; }
  .form__control {
    display: block;
    border: none;
    background-color: #fff;
    font-family: inherit;
    outline: none;
    padding: .3rem; }
  .form__select {
    display: block;
    padding: .3rem;
    border: none;
    outline: none; }
  .form__action-item {
    float: left;
    margin-right: 6rem; }

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem; }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffdf38; }

.page__title {
  font-size: 3.2rem;
  font-weight: 700; }

.page__table {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem; }

.page__html {
  width: 70%;
  padding: 1rem;
  margin: 2rem 0;
  text-align: justify; }

.btn {
  display: inline-block;
  padding: 1rem 3rem;
  outline: none;
  background-color: #4bd436;
  border: none;
  font-family: inherit;
  color: #f7f7f7;
  font-weight: bold; }

table td {
  text-align: center; }

input[type*="color"] {
  padding: 0;
  border: none; }

.get__code-action {
  padding: 0 1rem; }

@media only screen and (max-width: 860px) {
  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block; }
  table {
    display: flex;
    flex-direction: column; }
  tr {
    display: flex;
    justify-content: space-between; }
  .form__group {
    width: 47%; }
  .form__row {
    flex-wrap: wrap; }
  .form__action-item {
    float: none; } }

@media only screen and (max-width: 340px) {
  .page__title {
    text-align: center; } }
