.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  font-size: 1.2rem; }
  .form__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem; }
  .form__group {
    margin-right: 1rem;
    width: 20%; }
  .form__label {
    display: inline-block;
    font-size: 1.1rem; }
  .form__control {
    display: block;
    border: none;
    background-color: #fff;
    font-family: inherit;
    outline: none;
    padding: .3rem; }
  .form__select {
    display: block;
    padding: .3rem;
    border: none;
    outline: none; }
  .form__action-item {
    float: left;
    margin-right: 6rem; }

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem; }

.container {
  width: 98rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffdf38; }

.page__title {
  font-size: 3.2rem;
  font-weight: 700; }

.page__table {
  width: 100%;
  display: flex;
  justify-content: center; }

.btn {
  display: inline-block;
  padding: 1rem 3rem;
  outline: none;
  background-color: #4bd436;
  border: none;
  font-family: inherit;
  color: #f7f7f7; }

table td {
  text-align: center; }

input[type*="color"] {
  padding: 1px; }
