@import '_variables.scss';
@import '_mixins.scss';
@import 'components/_form.scss';

*,*::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: $font-size;
}

body {
  font-family: $font-family;
  font-size: 1.4rem;
}

.container {
  // margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffdf38;
}

.page {
  &__title {
    font-size: 3.2rem;
    font-weight: 700;
  }
  &__table {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  &__html {
    width: 70%;
    padding: 1rem;
    margin: 2rem 0;
    text-align: justify;
  }

}

.btn {
  display: inline-block;
  padding: 1rem 3rem;
  outline: none;
  background-color: #4bd436;
  border: none;
  font-family: inherit;
  color: #f7f7f7;
  font-weight: bold;
}

table td {
  text-align: center;
}

input[type*="color"] {
  padding: 0;
  border: none;
}

.get__code-action {
  padding: 0 1rem;
}

@media only screen and (max-width: 860px) {

  /* Force table to not be like tables anymore */
  table, thead, tbody, th, td, tr {
    display: block;
  }

  table {
    display: flex;
    flex-direction: column;
  }
  tr {
    display: flex;
    justify-content: space-between;
  }

  .form__group {
    width: 47%;
  }

  .form__row {
    flex-wrap: wrap;
  }

  .form__action-item {
    float: none;
  }
}

@media only screen and (max-width: 340px) {
  .page__title {
    text-align: center;
  }
}
